<div class="container mt-4">

  <p>This is a simple demonstration application to showcase <a href="https://github.com/yamasolutions/block-editor" target="_blank" class="">Block Editor</a>, a Ruby on Rails gem for creating rich content built using the <a href="https://github.com/WordPress/gutenberg" target="_blank">Wordpress Gutenberg</a> packages.</p>
  <p><a href="/posts/new" class="btn btn-primary">Test it yourself</a></p>

  <hr />
  <h2>User generated content</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
